.loggedIn-layout {
  display: flex;
}

.Sidebar {
  padding: 3rem;
  //   background-color: orange;
  height: 100%;
  //   border-right: 1px solid black;

  &-list {
    padding: 1rem 0 1rem 2rem;
    list-style: none;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 2px;
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  &-item:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    .link {
      text-decoration: none;
      position: relative;
      cursor: pointer;
      font-size: 1.8rem;
      padding: 0.5rem 0;
      color: rgba(0, 0, 0, 0.55);
      transition: all 0.25s ease-in-out;

      &:hover {
        color: rgba(0, 0, 0, 1);
      }

      // LATER ADD A CLASS CONDITIONALLY RENDER THE FOCUSED STYLES
      &::before {
        content: "";
        position: absolute;
        left: -4.6rem;
        top: 0;
        width: 0.2rem;
        height: 100%;
        border-radius: 2px;
        background-color: black;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover::before,
      &:active::before,
      &:focus::before {
        opacity: 1;
      }
    }

    &.active .link {
      color: rgba(0, 0, 0, 1);
    }
    &.active .link::before {
      opacity: 1;
    }
  }
}
