.Button-btn {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 0.75rem;
  background: hsla(228, 87%, 48%, 1);
  padding: 0.75rem 1.65rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  font-family: "Nunito", sans-serif;

  background: linear-gradient(
    45deg,
    hsla(228, 87%, 48%, 1) 0%,
    hsla(189, 100%, 70%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(228, 87%, 48%, 1) 0%,
    hsla(189, 100%, 70%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    #103be5 0%,
    hsla(189, 100%, 70%, 1) 100%
  );
}

.full-width {
  width: 100%;
  margin-top: 1rem;

  &:hover {
    animation: pulse 2s infinite;
  }
}

.shadow {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 rgba(16, 59, 229, 0.4);
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(16, 59, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(16, 59, 229, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
