@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.Dashboard {
  padding: 3rem;

  .wrapper {
    margin-top: 5rem;
    margin: 10rem auto;

    display: flex;
    gap: 6rem;
    justify-content: center;

    .subject-nav {
      width: 15%;

      &-list {
        list-style: none;
      }
      &-item {
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0.6rem 1.35rem;
        cursor: pointer;
        opacity: 0.8;
        border-radius: 0.6rem;
        transition: all 0.25s ease-in-out;

        &:not(:last-child) {
          margin-bottom: 2rem;
        }

        &:hover {
          color: #cc1600;
          background-color: #f3efea;
        }

        // Class for conditional renderring of content
        &.active {
          color: #cc1600;
          background-color: #f3efea;
        }
      }
    }

    .Header {
      font-family: "Montserrat", sans-serif;

      &-svg {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      &-title {
        font-family: "Montserrat", sans-serif;
        font-size: 3rem;
        font-weight: 600;
      }

      &-subtitle {
        font-size: 1.4rem;
        opacity: 0.8;
      }
    }

    .Table {
      margin-top: 5rem;

      table {
        border-spacing: 0;
        width: 100%;
        border: 2px solid rgba(26, 37, 82, 0.25);
        border-radius: 1rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        thead {
          tr {
            th {
              border-bottom: 2px solid rgba(26, 37, 82, 0.25);
              padding: 1.25rem;
              opacity: 0.8;
              background-color: hsl(30, 29%, 93%);

              &:first-child {
                border-top-left-radius: 1rem;
              }
              &:last-child {
                border-top-right-radius: 1rem;
              }
            }
          }
        }

        tbody {
          tr {
            text-align: center;
            font-weight: 600;

            .title {
              font-size: 1.7rem;
              opacity: 1;
            }

            td {
              padding: 1.5rem;

              &.opacity {
                color: rgba(#000, 0.5);
              }
            }

            td.border-top {
              border-top: 2px solid rgba(26, 37, 82, 0.25);
            }
          }

          .td-link {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .link {
            padding: 0.75rem 1.5rem;
            background-color: #2260eb;
            text-decoration: none;
            color: #fff;
            font-size: 1.4rem;
            border-radius: 2rem;
            display: flex;
            align-items: center;

            ion-icon {
              margin-left: 0.35rem;
            }
          }
        }
      }
    }
  }
}
