@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200;0,6..72,300;0,6..72,400;0,6..72,500;0,6..72,600;0,6..72,700;0,6..72,800;1,6..72,200;1,6..72,300;1,6..72,400;1,6..72,500;1,6..72,600;1,6..72,700;1,6..72,800&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

.Dashboard {
  padding: 3rem;
}

.wrapper {
  margin-top: 5rem;
  margin: 10rem auto;

  display: flex;
  gap: 6rem;
  justify-content: center;
}

.width-75 {
  flex: 0.75;
}

.width-1 {
  flex: 1;
}

.width-2 {
  flex: 2;
}

.width-3 {
  flex: 3;
}
