.Feature {
  width: 27rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .title {
    font-weight: 700;
    font-size: 1.8rem;
  }

  .subtitle {
    margin-top: 1.25rem;
    font-weight: 300;
  }
}
