.Header {
  font-family: "Montserrat", sans-serif;

  &-svg {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &-title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight: 600;
  }

  &-subtitle {
    font-size: 1.4rem;
    opacity: 0.8;
  }
}
