@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #36454f;
  font-family: "Nunito", sans-serif;
  font-size: 62.5%;
}

body {
  color: #36454f;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  background-color: #faf8f6;

  // padding: 3rem;
}
