.Lecture {
  padding: 3rem;

  .wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    .subject-nav {
      flex: 1.5;

      &-list {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }

      .link {
        text-decoration: none;
        color: inherit;
        
      }
    }

    .Content {
      flex: 6;
    }
  }
}
