@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Bungee+Spice&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

.Navbar {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  .branding {
    display: flex;
    align-items: center;
    gap: 2rem;

    .logo {
      margin-bottom: -1rem;
      display: flex;
      gap: 1.5rem;
      align-items: center;
      text-decoration: none;

      &-gif {
        width: 4rem;
        height: 4rem;
        border-radius: 1rem;
      }

      &-text {
        font-size: 2.4rem;
        font-family: 'Bungee Spice', cursive;
      }
    }

    .back-home {
      text-decoration: none;
      align-items: center;
      display: flex;
      gap: 1rem;

      color: #36454f;

      &-icon {
      }
      &-direction {
      }
    }
  }

  .auth {
    display: flex;
    gap: 1rem;
  }

  .user {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2.8rem;
      margin-right: 1.5rem;
      position: relative;
      padding: 1rem;

      &::after {
        content: "";
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: red;
      }
    }

    &-image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: green;
      margin-right: 1rem;
    }

    &-name-role {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1.8rem;
      }

      .role {
        opacity: 0.6;
      }
    }
  }
}
