.Navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2rem 1rem 1rem;
  border-bottom: 1px solid black;

  .branding {
    display: flex;
    align-items: center;
    gap: 2rem;

    .logo-link {
      svg {
        width: 10rem;
        height: 4rem;
      }
    }

    .back-home {
      text-decoration: none;
      display: flex;
      gap: 1rem;

      color: black;

      &-icon {
      }
      &-direction {
      }
    }
  }

  .auth {
    &-login {
      cursor: pointer;
      background-color: transparent;
      outline: none;
      border: 1px solid black;
      padding: 1rem;
    }
  }

  .user {
    display: flex;
    align-items: center;

    ion-icon {
      font-size: 2.8rem;
      margin-right: 1.5rem;
      position: relative;
      padding: 1rem;

      &::after {
        content: "";
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: red;
      }
    }

    &-image {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: green;
      margin-right: 1rem;
    }

    &-name-role {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 1.8rem;
      }

      .role {
        opacity: 0.6;
      }
    }
  }
}
