.OverviewCard {
  background-color: #eee;
  border-radius: 0.6rem;
  padding: 2rem 2.25rem;
  height: 10rem;

  &-title {
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
  }

  &-description {
    font-size: 1.4rem;
    word-break: break-all;
  }
}
