.Problem {
  padding: 3rem;
  min-height: calc(100vh - 81px);

  display: flex;
  flex-direction: column;

  &-header {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }

  &-wrapper {
    display: flex;
    gap: 10%;
    justify-content: flex-start;
  }

  .question {
    width: 52.5%;

    &-description {
      margin-bottom: 5rem;

      .content {
        font-size: 2rem;
        // background-color: yellow;
      }
    }
    &-options {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .option {
        cursor: pointer;
        background-color: #fff;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.75);
        border-radius: 1rem;

        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.15);

        &.correct {
          background-color: rgba(0, 128, 0, 0.2);
        }

        &.wrong {
          background-color: rgba(255, 0, 0, 0.2);
        }

        .letter {
          padding: 1.5rem 1.5rem;
          font-weight: 600;
          border-right: 1px solid rgba(0, 0, 0, 0.15);
          background-color: rgba(0, 0, 0, 0.025);
        }

        .answer {
          padding-left: 1.35rem;
        }
      }
    }
  }

  &-more {
    // padding-right: 4rem;

    .title {
      font-size: 2.8rem;
      font-weight: 600;
    }

    .collection {
      margin-top: 3rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
}
