.Solution {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  text-decoration: none;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);

  color: rgba(0, 0, 0, 0.75);
  word-break: break-all;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .step-description {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .step {
      font-weight: 600;
      font-size: 1.8rem;
    }

    .dropdown-btn {
      outline: none;
      border: none;
      background-color: transparent;

      ion-icon {
        font-size: 2.2rem;
        cursor: pointer;
      }
    }
  }

  .why-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;

    .why-text {
    }

    .concept-link {
      border-radius: 1rem;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.75);
      cursor: pointer;
      width: auto;
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 1rem;
      background-color: rgba(0, 0, 0, 0.15);

      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;

      ion-icon {
        font-size: 1.8rem;
      }
    }
  }
}
